.main {
  max-width: 1150px;
  margin: 0 auto;
  /* Pad the sides of the main content */
  padding: 0 3.2rem;
  min-height: 100vh;
}

.main__flex-container {
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 480px) {
  .main__flex-container {
    flex-direction: column;
  }
}