.browser-stats {
    width: 60%;
    padding: 0 3.2rem;
}

.browser-list {
    margin: 0 -0.8rem;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

@media (max-width: 750px) {
    .browser-stats {
        width: 50%;
    }

    .browser-list {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .browser-stats {
        width: 100%;
        /* Show after the searches section */
        order: 1;
    }
}