.logo-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.logo-heading__logo {
    display: block;
    width: 48px;
}

.logo-heading__heading {
    margin-left: 1.6rem;
}