.searches {
    width: 40%;
}

@media (max-width: 750px) {
    .searches {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .searches {
        width: 100%;
        /* Show before BrowserStats */
        order: 0;
    }
}